myst-parser>=5,<6
pyyaml>=6,<7
readthedocs-sphinx-ext>=2,<3
sphinx>=9,<10
sphinx-needs>=8,<9
sphinx-design>=0.7,<0.8
sphinxcontrib-plantuml>=0.31,<0.32
sphinxcontrib-umlet>=1,<2
sphinx-rtd-theme>=3,<4
