# Copyright (c) 2026 Contributors to the Eclipse Foundation
#
# SPDX-License-Identifier: Apache-2.0

test --test_output=errors

# stop legacy behavior of creating __init__.py files
build --incompatible_default_to_explicit_init_py
